nav {
  font-family: 'Courier New', Courier, monospace;
  padding-top: 20px;
}

body {
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.background {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgb(224, 18, 18), rgb(240, 233, 247), rgb(29, 29, 29));
}

* {
  box-sizing: border-box;
}

.image {
    float: left;
    padding-left: 25px;
    padding-top: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 20px;
}

input,
textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
